.artefact {
  max-height: 100%;
  flex: 3;
  overflow-y: auto;
}

.artefact-scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--root-padding);


  .artefact-title {
    font-family: 'MedievalSharp', cursive;
    font-size: 2.5em;
    text-align: center;
  }

  .artefact-picture {
    display: flex;
    justify-content: center;
    margin: 1em 0;
    max-width: 70%;
    transition: filter 300ms, transform 300ms;
    cursor: pointer;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      user-select: none;
      pointer-events: none;
    }

    &:hover {
      transform: scale(1.05);

      animation: levitating 1s infinite alternate;
    }
  }

  .artefact-description {
    line-height: 1.5;

    .score {
        font-family: 'MedievalSharp', cursive;

      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;

      p {
        font-family: 'MedievalSharp', cursive;
        color: #fff;
      }

      .skill {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100px;
      }

      .progress {
        width: 100%;
        height: 0.5rem;
        background-color: #000;
        border-radius: 15px;

        .progress-bar {
          height: 0.5rem;
          transition: width 300ms;
          border-radius: 15px;

          &.dev {
            background-color: var(--developement);
            filter: drop-shadow(0 0 5px var(--developement));
          }

          &.crea {
            background-color: var(--graphic-design);
            filter: drop-shadow(0 0 5px var(--graphic-design));
          }

          &.mark {
            background-color: var(--marketing);
            filter: drop-shadow(0 0 5px var(--marketing));
          }
        }
      }

    }

  }
}

@keyframes levitating {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-0.5em);
  }
}