.register, .login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;

  .artefact {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100px;
      height: auto;
      object-fit: cover;
    }
  }

  h2 {
    font-family: 'MedievalSharp', cursive;
    font-size: 2.25rem;
  }

  .options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 1rem;

        button {
        background-image: var(--gradient-radial-secondary);
        border-radius: 8px;
        padding: 0.5rem 1.25rem;
        font-size: 1rem;
        color: #fff;
        font-family: 'MedievalSharp', cursive;
        transition: transform 300ms, filter 300ms;
        cursor: pointer;
        width: 100%;
        max-width: 200px;

      &:hover {
        transform: scale(1.05);
        filter: drop-shadow(0 0 0.5rem rgba(255, 255, 255, 0.5));
      }
    }

  }
}